body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue','Arial','sans-serif';
  font-weight: 500;
  font-family: "adelle-sans";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  line-height: 1em;
}

.wrapper {
  position: absolute;
  background: url("coverpage4.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  width: 100%;
  height: 100%;
}

.homepage-buttons {
  position: fixed;
  top: 50%;
  margin: 0 auto;
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
}

/* 
.homepage-buttons li {
  width: ;
}

.homepage-buttons li:last-of-type {

}
*/

.homepage-buttons a {
  background-color: transparent;
  color: #ef6c54;
  border: 2px solid #ef6c54;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  display: flex;
  text-decoration: none;
  padding: 1em 1.44em;
  text-align: center;
  margin: 0 0.5rem;
}