---
---

$canvas-background: #fff9f2;
$border-color: #edd3ba;

$text-color: #724d2b;
$button-orange: #ef6c54;
$link-color: #8c6038;
$link-color-hover: #ef6c55;
$link-color-border: $border-color;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  // adelle-sans is unknown - but keeping anyway
  font-family: "adelle-sans", "Helvetica Neue","Arial","sans-serif";
  font-weight: 200;
  font-size: 16px;
  color: $text-color;
  letter-spacing: 2px;
  font-style: normal;
  line-height: 1em;
  a {
    color: $link-color;
    cursor: pointer;
  }
}

.main {
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 1;
  position: relative;
}

header {
  .header-logo {
    width: 100%;
    a {
      display: block;
    }
    img {
      padding: 0;
      margin: 0 auto;
      display: block;
      max-height: 231px;
    }
  }
  nav {
    z-index: 100;
    margin: 29px 0 0;
    width: 100%;
    text-align: center;
    padding: 0 14px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    line-height: 1.6em;
    position: relative;
    ul {
      list-style-type: none;
      display: inline-block;
      background: $canvas-background;
      padding: 0 14px;
      margin: 0;
    }
    li {
      display: inline-block;
      padding: 0 14px;
      margin: 0;
    }
    a {
      text-transform: uppercase;
      color: $link-color;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      display: inline-block;
      text-decoration: none;
      transition: opacity 170ms ease-in-out, border-color 170ms ease-in-out;
      padding: 0;
      font-size: 14px;
      &:hover,
      &:active,
      &.active,
      &:focus,
      &.focus {
        color: $link-color-hover;
        border-bottom-color: $link-color-border;
      }
    }
  }
  .page-divider {
    position: relative;
    z-index: 1;
    line-height: 1.6em;
    margin-top: -1em;
    margin-bottom: 1.6em;
    font-size: 14px;
    border-bottom: 1px solid $border-color;
  }
}

footer {
  border-top: 1px $border-color solid;
  padding: 20px 0;
  text-align: center;
  font-size: 11px
}

.page-body {
  background: url("background-page.png") no-repeat center center; 
  background-size: cover;
  width: 100%;
  height: 100%;
  .canvas {
    border: 1px solid $border-color;
    background-color: $canvas-background;
    max-width: 1120px;
    margin: 60px auto;
    padding: 80px 80px 0;
  }
}

.btn {
  border: 2px solid $button-orange;
  background-color: $button-orange;
  color: #ebcfb6;
  text-transform: uppercase;
  transition: opacity 170ms ease-in-out, border-color 170ms ease-in-out;
  text-decoration: none;
  padding: 1em 1.44em;
  text-align: inherit;
  font-family: "Varela Round", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    opacity: .8;
  }
  // Originally, I *think* the button was outline, but looking later, it was solid
  // I want to preserve the outline styles
  &.btn-outline {
    background-color: transparent;
    color: $button-orange;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: $button-orange;
      color: $text-color;
      opacity: 1;
    }
  }
}

.landing-body {
  .overlay {
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-rendering: optimizeLegibility;
    top: 0;
    width: 100%;
    background: #a87c4f;
  }
  .wrapper {
    position: absolute;
    background: url("background-landing.png") no-repeat center center fixed; 
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .center-block {
    position: fixed;
    top: 50%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    .btn {
      display: flex;
      // IDK why, but without the negative margin, the buttons aren't centered
      &:first-of-type { margin: 0 0.5rem 0 -0.5rem; }
      &:last-of-type { margin-left: 0.5rem; }
    }
  }
}
