---
---

$canvas-background: #fff9f2;
$border-color: #edd3ba;

$text-color: #724d2b;
$button-orange: #ef6c54;
$link-color: #8c6038;
$link-color-hover: #ef6c55;
$link-color-border: $border-color;

$breakpoint-large: 1120px;
$breakpoint-small: 640px;


*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  background-color: rgb(248,228,208);
}

body {
  padding: 0;
  margin: 0;
  // adelle-sans is unknown - but keeping anyway
  font-family: "adelle-sans", "Helvetica Neue","Arial","sans-serif";
  font-weight: 200;
  font-size: 14px;
  color: $text-color;
  letter-spacing: 1px;
  font-style: normal;
  line-height: 1em;
  a {
    color: $link-color;
    cursor: pointer;
  }
  h1, h2 {
    text-align: center;
    margin: 28px 0 0;
    font-size: 28px;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-weight: 300;
    font-style: normal;
  }
  h2 {
    font-size: 16px;
  }
  h3 {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: 400;
    font-style: normal;
    margin: 1em 0 0 0.3em;
  }
}

.upcase {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
  height: 0;
}

.text-center {
  text-align: center;
}

strong, .strong {
  font-weight: 600;
}

.mt-3 {
  margin-top: 1.5em;
}

.btn {
  border: 2px solid $button-orange;
  background-color: $button-orange;
  color: #ebcfb6;
  text-transform: uppercase;
  transition: opacity 170ms ease-in-out, border-color 170ms ease-in-out;
  text-decoration: none;
  padding: 1em 1.44em;
  text-align: inherit;
  font-family: "Varela Round", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    opacity: .8;
  }
  // Originally, I *think* the button was outline, but looking later, it was solid
  // I want to preserve the outline styles
  &.btn-outline {
    background-color: transparent;
    color: $button-orange;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: $button-orange;
      color: $text-color;
      opacity: 1;
    }
  }
}

.horizontal-rule {
  position: relative;
  height: auto;
  padding: 18px 0;
  hr {
    color: $border-color;
    background-color: $border-color;
    height: 1px;
    margin: 0;
    padding: 0;
    border-style: none;
    border-width: 0;
  }
}

.page-body-content {
  margin: 0;
  padding: 20px 0;
}

@media (min-width: $breakpoint-small) {
  .page-body-content {
    margin-right: 60px;
    margin-left: 60px;
  }
}

// Page: book-now

.page-book-now {
  .pricing-list strong {
    display: block;

  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: $breakpoint-small) {
  .col-sm-6 {
    width: 50%;
    padding-right: 17px;
    padding-left: 17px;
  }
}
// 
// Page: about-me
// 
.page-about-me {
  .hero {
    padding: 0 0 18px;
    h2 span {
      margin: 0 1em;
      display: inline-block;
    }
  }
  .about-body {
    display: block;
    padding: 18px 0;
    position: relative;
  }
  .about-text {
    position: relative;
    text-align: center;
    padding: 28px 0 0 0;
    width: 100%;
    p {
      line-height: 1.8em;
      margin: 0 0 1.8em;
    }
  }
  .about-image {
    position: relative;
    width: 100%;
    padding: 18px;
    img {
      width: 100%;
      display: block;
      height: auto;
    }
  }
}

@media (min-width: $breakpoint-small) {
  .page-about-me .about-image {
    float: right;
    width: 40%;
    padding-right: 0;
    margin-left: 18px;
  }
}

@media (min-width: $breakpoint-large) {
  .page-about-me .about-image {
    width: 400px;
  }
}

// 
// Layout: page
// 

.page-body {
  background: url("background-page2.png") no-repeat top center;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  padding: 0;

  .canvas {
    position: relative;
    box-sizing: content-box;
    z-index: 1;
    background-color: $canvas-background;
    max-width: $breakpoint-large;
    margin: 0 auto;
    padding: 88px 16px 0;
  }

  .main-content {
    margin-top: 28px;
    margin-bottom: 40px;
    opacity: 1;
    position: relative;
  }

  header.page-body-header {
    display: block;
    clear: both;
    .header-logo {
      width: 100%;
      a {
        display: block;
      }
      img {
        padding: 0;
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: 306px;
        height: auto;
      }
    }
    nav {
      z-index: 100;
      margin: 29px 0 0;
      width: 100%;
      text-align: center;
      padding: 0;
      display: inline-flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      line-height: 1.6em;
      position: relative;
      ul {
        list-style-type: none;
        display: inline-block;
        background: $canvas-background;
        padding: 0;
        margin: 0;
      }
      li {
        display: inline-block;
        padding: 0 14px;
        margin: 0 0 1em;
      }
      a {
        text-transform: uppercase;
        color: $link-color;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        display: inline-block;
        text-decoration: none;
        transition: opacity 170ms ease-in-out, border-color 170ms ease-in-out;
        padding: 0;
        &:hover,
        &:active,
        &.active,
        &:focus,
        &.focus {
          color: $link-color-hover;
          border-bottom-color: $link-color-border;
        }
      }
    }
  }
  .page-divider {
    position: relative;
    display: block;
    z-index: 2;
    line-height: 1.6em;
    margin-top: -2em;
    margin-bottom: 1.6em;
    border-bottom: 1px solid $border-color;
  }
  .safe-space {
    border-top: 1px $border-color solid;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    p, .social-links {
      text-align: center;
      width: 100%;
    }
    .facebook {
      display: inline-block;
      fill: #333;
      transition: fill 170ms ease-in-out;
      margin: 2px 0 0;
      &:hover, &:active {
        fill: #777;
      }
      svg {
        display: inline-block;
        height: 37px;
        width: auto;
      }
    }
  }

  footer.page-body-footer {
    border-top: 1px $border-color solid;
    padding: 20px 0;
    text-align: center;
    font-size: 11px
  }
}

@media (min-width: $breakpoint-small) {
  .page-body {
    .canvas {
      padding-left: 40px;
      padding-right: 40px;
    }
    header.page-body-header {
      nav {
        padding-left: 14px;
        padding-right: 14px;
      }
      ul {
        padding-left: 14px;
        padding-right: 14px;
      }
    }
    .safe-space {
      flex-wrap: nowrap;
      p {
        text-align: left;
        width: auto;
      }
      .social-links {
        text-align: right;
        width: auto;
      }
    }
  }
}

@media (min-width: $breakpoint-large) {
  .page-body {
    padding: 60px;

    .canvas {
      border: 1px solid $border-color;
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

// 
// Page: Landing/home
// 
.landing-body {
  .overlay {
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    text-rendering: optimizeLegibility;
    top: 0;
    width: 100%;
    background: #a87c4f;
  }
  .wrapper {
    position: absolute;
    background: url("background-landing.png") no-repeat center center fixed; 
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .center-block {
    position: fixed;
    top: 50%;
    margin: 0 auto;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    .btn {
      display: flex;
      // IDK why, but without the negative margin, the buttons aren't centered
      &:first-of-type { margin: 0 0.5rem 0 -0.5rem; }
      &:last-of-type { margin-left: 0.5rem; }
    }
  }
}

// 
// Page: 404
// 

#page-404 {
  padding: 40px 40px;
  p, li {
    margin-top: 1rem;
  }
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
