{% include header.html %}
<body class="page-body">
  <div class="canvas">
    <header class="page-body-header">
      <div class="header-logo">
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/logo.png" alt="Adelle Hintz Healing Arts"></a>
      </div>
      <nav id="topNav">
        <ul>
          <li><a data-target="" href="{{ site.baseurl }}/">Home</a></li>
          <li><a data-target="about-me" href="{{ site.baseurl }}/about-me">About Me</a></li>
          <li><a data-target="book-now" href="{{ site.baseurl }}/book-now">Book Now</a></li>
        </ul>
      </nav>
      <div class="page-divider"></div>
    </header>
    <div class="main-content">
      {{content}}
    </div>
    <div class="safe-space">
      <p>I offer a safe space to all genders and identities including religious and ethnic. </p>
      <div class="social-links">
        <a class="facebook" href="http://www.facebook.com/SparrowHawkHealingArts">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.693 56.693"><path d="M28.347,5.157c-13.6,0-24.625,11.027-24.625,24.625c0,13.6,11.025,24.623,24.625,24.623c13.6,0,24.625-11.023,24.625-24.623  C52.972,16.184,41.946,5.157,28.347,5.157z M34.864,29.679h-4.264c0,6.814,0,15.207,0,15.207h-6.32c0,0,0-8.307,0-15.207h-3.006  V24.31h3.006v-3.479c0-2.49,1.182-6.377,6.379-6.377l4.68,0.018v5.215c0,0-2.846,0-3.398,0c-0.555,0-1.34,0.277-1.34,1.461v3.163  h4.818L34.864,29.679z"/></svg>
        </a>
      </div>
    </div>
    <footer class="page-body-footer">
      <span id="copyright">2042</span> © &nbsp;ADELLE HINTZ HEALING ARTS * &nbsp;CMT #53791 CA * <span class="upcase">{{ site.email }}</span>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function(event) { 
      // lazy hack to set active page in top nav 
      var currentPath = window.location.href.split('/').slice(-1)[0];
      document.querySelectorAll('#topNav a')
        .forEach(el => {
          if (el.getAttribute('data-target') === currentPath) {
            el.classList.add('active')
          }
        })
      // Update the copyright ;)
      document.getElementById('copyright').textContent = new Date().getFullYear()
    })
  </script>
</body>
</html>
